@import 'compass';
@import 'reset';
@import 'mixins';
@import 'fonts';
@import 'slider';

/* Main styling --------------------------------------------------------------*/
#mobile{
    display: none;
}
.slidercon{
    margin-left: 30px;
    width: 50px;
    float: right;
}
#noUiSlider{
    margin: 10px 80px 1 50px;
    height: 200px;
}
.metric{
    font-family: 'Lato'; 
    position: absolute;
    left: 24%;
    top: 55%;
    background:darkgreen;
    color: #D4F3D4;
    border-radius: 8px;
    padding: 12px;
    display: none;
    font-size: 20px;
}

.fk-form{
    position: absolute;
    top:65%;
    left:32%;
    width: 300px;
    label{
        font-family: 'Lato';
        display: block;
        margin-bottom: 10px;
    }
}
$watch-size: 600px;

$deg: 6deg;

.watch{
    position: relative;
    display: block;
    background: url('../images/logo.png');
    background-size: 240px;
    background-repeat: no-repeat;
    // background-position:182px 100px; 
    background-position: center 100px;
    width: $watch-size;
    height:$watch-size;
    border-radius: 50%;
    border: 5px solid black;
    margin: 100px auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,.35);
    
    //put a line on for all min. and rotated each 6deg
    .minuteLine{  
        // -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        right:49.9%;
        font-family: Raleway;
        @include line(15px);        
        @include transform-origin(50%, $watch-size/2);
        font-size: 44px;
    }
        @for $i from 1 through 60 {
        .minuteLine:nth-child(#{$i+1}){
        @include rotate($deg*$i);
        } 
    }
    //make every quater thicker and longer line
    .minuteLine:nth-child(1),.minuteLine:nth-child(16),.minuteLine:nth-child(31),.minuteLine:nth-child(46){
        @include line(30px, black);
    }
    //Add 0, 15,30,45
    .minuteLine:nth-child(1){
        &:after{
            content: '0';
            top: 25px;
            right: -13px;
            position: absolute;

        }
    }
    .minuteLine:nth-child(6){
        @include line(17.5px, black);
        &:after{
            content: '5';
            position: absolute;
            top: 23px;
            left: -12px;
            @include rotate(-31deg);
        }
    }
    .minuteLine:nth-child(11){
        @include line(17.5px, black);
        &:after{
            content: '10';
            position: absolute;
            top: 30px;
            left: -23px;
            @include rotate(-58deg);
        }
    }
    .minuteLine:nth-child(16){
        &:after{
            content: '15';
            top: 37px;
            right: -15px;
            position: absolute;
            @include rotate(-90deg);

        }
    }
    .minuteLine:nth-child(21){
        @include line(17.5px, black);
        &:after{
            content: '20';
            position: absolute;
            top: 30px;
            left: -23px;
            @include rotate(240deg);
        }
    }
    .minuteLine:nth-child(26){
        @include line(17.5px, black);
        &:after{
            content: '25';
            position: absolute;
            top: 30px;
            left: -23px;
            @include rotate(210deg);
        }
    }
    .minuteLine:nth-child(31){
        &:after{
            content: '30';
            top: 35px;
            right: -23px;
            position: absolute;
            @include rotate(180deg);

        }
    }
    .minuteLine:nth-child(36){
        @include line(17.5px, black);
        &:after{
            content: '35';
            top: 30px;
            right: -23px;
            position: absolute;
            @include rotate(150deg);

        }
    }
    .minuteLine:nth-child(41){
        @include line(17.5px, black);
        &:after{
            content: '40';
            top: 30px;
            right: -23px;
            position: absolute;
            @include rotate(120deg);

        }
    }
    .minuteLine:nth-child(46){
        &:after{
            content: '45';
            top: 40px;
            right: -30px;
            position: absolute;
            @include rotate(90deg);

        }
    }
    .minuteLine:nth-child(51){
        @include line(17.5px, black);
        &:after{
            content: '50';
            top: 30px;
            right: -23px;
            position: absolute;
            @include rotate(60deg);

        }
    }
    .minuteLine:nth-child(56){
        @include line(17.5px, black);
        &:after{
            content: '55';
            top: 25px;
            right: -23px;
            position: absolute;
            @include rotate(30deg);

        }
    }
}

@media (max-width: 650px) {
    .metric {
        top: 60%; 
        left:27%;
        color: #D4F3D4;
        border-radius: 4px;
        padding: 5px;
        font-size: 10px;
    }

    .watch {
        margin-top: 10px;
        margin-bottom: 10px;
        background-size: 100px;
        background-position: center 75px;
        width: 300px;
        height: 300px;
    }
    .watch .minuteLine {
        right: 49.5%;
        -webkit-transform-origin: 50% 150px;
        -moz-transform-origin: 50% 150px;
        -ms-transform-origin: 50% 150px;
        -o-transform-origin: 50% 150px;
        transform-origin: 50% 150px;
        font-size: 30px;
    }
    .fk-form{
        display: none;
    }

}

@media (max-width: 425px) {
    #mobile{
        display: block;
        position: relative;
    }
    .watch{
        background-size: 200px; 
        background-position: center 10px;
        width: 100%;
        border:none;
        box-shadow:none;
        margin-top: 0;margin-bottom:0;
        height: 200px;
    }
    .metricp{
        float: right;
        background:darkgreen;
        color: #D4F3D4;
        padding: 15px;
        font-size: 16px;
        margin-top: 50px;
        border-radius: 5px;
    }
    .minuteLine{
        display: none;
    }
    .fk-form{
        display: none;
        width: 85%;
        left: 5%;
    }

}